*{
	margin: 0 auto;
	padding: 0px;
	list-style: none; /*quita los circulos de la lista*/
	text-decoration: none;/* quita subrayado de listas*/
}

body{
    font-family: 'Helvetica';
}

#cabecera{
	width: 100%;
	height: 80px;
	background: #56008f;
}
.adaptable {
	width: 100%;


}

h1{
    color: #56008f;
}

#logo{

    height: 55px;
    width: 150px;
	display: inline-block;
	margin-top: 13px;
}

/*ESTILO CSS DE MENU DE NAVEGACION*/

a{
    color: #ffffff;
}

a:hover {
    color: #b6b6b6;
}

nav{
	display: inline-block;
    height: 80px;
	width: 600px;
	background: #56008f;
	float: right;
	margin-right: 150px;

}

nav ul{
	float: right;
	margin-right: 30px;

}

nav ul li{
	float: left;
	background: #56008f;
	line-height: 30px;
	padding: 0px 20px;
    margin-right: 15px;
	margin-top: 25px;
	font-family: 'Helvetica';
	color: #67a2da;
	text-decoration: none;
	list-style: none;
    cursor: pointer;
}
nav ul li a{
    font-family: 'Helvetica';
    font-weight: 800;
}


#inicio{
    width: 100%;
	height: 100%;
    text-align: center;
    background-color: #e0e0e0;
}

#divprincipal{
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulop{
        
    position: absolute;
    z-index: 999;
    left: 200px;
    width: 300px;
}

#titulo2p{
    position: absolute;
    z-index: 999;
    right: 200px;
    width: 300px;
}

.video{
    margin-top: 50px;    
}

footer{
	height: 90px;
	width: 100%;
	background: #56008f;
    text-align: center;
    overflow: auto;
}

footer h4{
    color: white;
    line-height: 80px;

}

#enlacesinteres{
    color: #56008f;
}

#fotop{
        width: 200px;
}

#fotocontacto{
        
    position: absolute;
    z-index: 999;
    left: 300px;
    width: 300px;
    margin-top: 50px;
}

#titulocontacto{
    width: 300px;
}

.padre {
    display: flex;
    justify-content: center;
  }

  .hijo {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #56008f;

  }

  .hijo h1{
    color: white;
  }

  .hijo p{
    color: white;
  }

/*ESTILO CSS DEL FORMULARIO DE REGISTRO*/

.formulario {
    width: 400px;
    background: #e0e0e0;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    color: #333333;
    box-shadow: 7px 13px 37px rgb(121, 121, 121);
  }

.registrar {
    width: 100%;
    background: #56008f;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .registrar2 {
    width: 50;
    background: #3369ff;
    border: none;
    border-radius: 10%;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .secciones {
    width: 100%;
    background: #333333;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

  }

  .formulario p {
    text-align: center;
    font-size: 18px;
  }

  .formulario h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }